# Unfortunately,
#->     *                       # wont work part1 :'-(
#->     !**/.java               # wont work part2 :'-(
# is not working - you can NOT reinclude files in directories this way
# hence: try to do something similiar to exclude everything and then reinclude *.java source afterwards
/*
!.gitignore
!readme.md
!ReadMe.txt
!package.bluej
!/*.java
#
!/cards
/cards/*
!/cards/package.bluej
!/cards/*.java



# for safety's sake
#==================
#
# exclude BlueJ/project specific stuff:
**/*.class
**/*.ctxt
**/doc
#
# OS specific:
# exclude annoying stuff: DOSe
**/Thumbs.db
# exclude annoying stuff: Mac OS X
**/.DS_Store
#
# exclude the very check-in script, since problems might occur, if check-in script checks itself in
check-in





#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# THE END  -  END OF SCRIPT
#==========================
#
#
#VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
#
# => only the listed exceptions in the current directory are checked in
#
# "!.gitignore"
#     including ".gitignore" results in same (git-)behavior everywhere - is this wanted?
#
# "*" 
#     excludes everything - unfortunately it is NOT supported to (re)include a (sub-)directory afterwards (2014/10/15)
#
#     but, you can type directly in GIT bash e.g.:
#     "git add --force CEPtemplate/Project/*.h"
#     "git add --force CEPtemplate/Project/*.c"
#
#
#
# see:
#
# http://git-scm.com/docs/gitignore
#
# http://stackoverflow.com/questions/6919121/why-are-there-2-ways-to-unstage-a-file-in-git
# git rm --cached
# git reset HEAD file
#
# http://stackoverflow.com/questions/12191254/gitignore-continue-to-track-file-after-adding-it-once-by-force
#
#
#
#
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Checklist of file that might be checked in
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# ...
#
